.produtstop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productstopitem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings-top-iconn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.productpage-cnt {
  margin-top: 3.5rem;
  padding: 0px 15px;
}

.productpage-image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productpage-infomix {
  display: flex;
  justify-content: space-between;
}

.productpage-infomixitem1 {
  width: 250px;
}

.productpage-infomixitem2 {
  width: 40px;
  height: 40px;
  background-color: #f7f7f5;
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.productpage-infomixitem2-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.productpage-infocat {
  color: #999;
  font-size: 13px;
}

.productpage-infotitle {
  margin-top: 5px;
  font-size: 16px;
  line-height: 16px;
}

.productpage-info {
  margin-bottom: 15px;
}

.productpage-lowestask-subtext {
    font-size: 11px;
    color: #999;
}

.productpage-lowestask-price {
    font-size: 18px;
    font-weight: 600;
}

.productpage-lowestask {
    margin-bottom: 15px;
}

.productpage-notifi {
    border: 1px solid #f7f7f5;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    gap: .5rem;
}

.productpage-notifi-icon {
    fill: red;
    width: 20px;
    height: 20px;
}

.productpage-notifitext {
    font-size: 16px;
}
