.produtstop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productstopitem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-top-iconn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.productpage-cnt {
    margin-top: 3.5rem;
    padding: 0px 25px;
}

.productpage-image {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productpage-infomix {
    display: flex;
    justify-content: space-between;
}

.productpage-infocat {
    color: #999;
    font-size: 13px;
}

.productpage-infotitle {
    font-size: 18px;
}

.productpage-info {
    margin-bottom: 15px;
}