.produtstop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: none !important; */
  border-bottom: 1px solid #f7f7f5;
}

.productstopitem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings-top-iconn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.productpage-cnt {
  margin-top: 3.5rem;
  padding: 0px 30px;
  margin-bottom: 5rem;
}

.productpage-image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productpage-itemname {
  border-bottom: 1px solid #f7f7f5;
  border-top: 1px solid #f7f7f5;
  padding: 2rem 20px;
  text-align: center;
}

.productpage-itemname h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.productpage-itemms {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f7f7f5;
  padding: 2rem 20px;
}

.productpage-itema {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #f7f7f5;
}

.prodbarnd {
  font-size: 10px;
  font-weight: 600;
  color: #999;
}

.prodbnd {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}

.productpagecheck-marketdata {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 20px;
  border-bottom: 1px solid #f7f7f5;
}

.productpagecheck-marketdatabtn {
  width: 100%;
  padding: 1rem 15px;
  background-color: transparent;
  border: 1px solid #1d1d1f;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
