.buyorbidcnt {
  margin-top: 3.5rem;
  padding: 0px 20px;
  padding-top: 10px;
}

.buyorbidcnt-producttop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .buyorbidcnt-producttopimage {
} */

.buyorbcntpitname {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 15px;
  margin-bottom: 10px;
}

.buyorbcntpitpic {
  font-size: 10px;
  color: #999;
}

.buyorbcntpitpic span {
  color: #1d1d1f;
  font-weight: 600;
}

.buyorbidcnt-producttop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.buyorbcntitname-item {
  display: flex;
  gap: 1rem;
}

.buyorbid-cnt-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  border: 1px solid #1d1d1f;
  padding: 1rem 20px;
  border-radius: 10px;
}