.buyorbidcnt {
  margin-top: 3.5rem;
  padding: 0px 20px;
  padding-top: 10px;
}

.buyorbidcnt-producttop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .buyorbidcnt-producttopimage {
} */

.buyorbcntpitname {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 15px;
  margin-bottom: 10px;
}

.buyorbcntpitpic {
  font-size: 10px;
  color: #999;
}

.buyorbcntpitpic span {
  color: #1d1d1f;
  font-weight: 600;
}

.buyorbidcnt-producttop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.buyorbcntitname-item {
  display: flex;
  gap: 1rem;
}

.buyorbid-cnt-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0px 0px 0px;
  border: 1px solid #1d1d1f;
  padding: .6rem 20px;
  border-radius: 10px;
}

.buyorbid-cnt-sec p {
  font-size: 14px;
}

.buyorbid-cnt-buybtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13544e;
  color: #fff;
  padding: 1rem 20px;
  border-radius: 10px;
  width: 100%;
}

.buyorbid-cnt-buybtn p {
  font-size: 14px;
  font-weight: 500;
}

.buyorbidbtn {
  display: flex;
  gap: .5rem;
}

.buyorbidinput {
  display: flex;
  margin: 1rem 0px .5rem 0px;
  border: 1px solid #f7f7f5;
}

.buyorbidinputname {
  padding: .8rem 10px;
  border-right: 1px solid #f7f7f5;
}

.buyorbidinputname p {
  font-weight: 500;
  color: #13544e;
}

.buyorbidinputplace {
  width: 100%;
  border: none;
  font-size: 18px;
  font-family: inherit;
  color: #1d1d1f !important;
  outline: none;
  padding: 0 10px;
  border-radius: 0px 10px 10px 0px;
}