.buyorbidcnt {
  margin-top: 3.5rem;
  padding: 0px 20px;
  padding-top: 10px;
}

.buyorbidcnt-producttop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

/* .buyorbidcnt-producttopimage {
} */

.buyorbcntpitname {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 15px;
}

.buyorbcntpitnamee {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 15px;
}

.buyorbcntpitpic {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}

.buyorbcntpitpic span {
  color: #1d1d1f;
  font-weight: 600;
}

.buyorbidcnt-producttop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.buyorbcntitname-item {
  display: flex;
  gap: 1rem;
}

.buyorbid-cnt-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
}

.buyorbid-cnt-sec p {
  font-size: 14px;
}

.buyorbid-cnt-buybtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1f;
  padding: 1rem 20px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #1d1d1f;
}

.buyorbid-cnt-buybtn p {
  font-size: 14px;
  font-weight: 500;
}

.buyorbidbtn {
  display: flex;
  gap: .5rem;
}

.buyorbidinput {
  display: flex;
  margin: 2rem 0px 1.5rem 0px;
  align-items: center;
  justify-content: space-between;
}

.buyorbcntpitnamee span {
  font-weight: 600;
  color: #13544e;
}



