.howitworkscnt {
  margin-top: 3.2rem;
  margin-bottom: 1rem;
  position: relative;
}

.howitworkstop {
  border-bottom: 1px solid #f7f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.howitworkstopitem {
  /* background-color: #f7f7f5; */

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.howitworkstopitem:hover h1 {
  font-weight: bolder;
}

.howitworkstopitem h1 {
  font-size: 12px;
  font-weight: 500;
  padding: 8px 1rem;
}

.howbosd {
  border-right: 1px solid #f7f7f5;
}

.howitworksbottom {
  padding-top: 3rem;
  padding: 3rem 14px 0px 14px;
}

.howitworksbottom p {
    font-size: 12px;
    margin-bottom: 1rem;
}

.howitworksbottom h2 {
    font-size: 14px;
    margin-bottom: .5rem;
}

.howitworksbottom h1 {
    font-size: 16px;
}
