.howitworkscnt {
  margin-top: 3.2rem;
  margin-bottom: 1rem;
  position: relative;
}

.howitworkstop {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 10px 25px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  /* border-bottom: 1px solid #f7f7f5; */
}
.howitworkstopitem {
  /* background-color: #f7f7f5; */

  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f7f7f5;
  border-radius: 20px;
  margin-top: 0.2rem;
}

.howitworkstopitem:hover h1 {
  font-weight: bolder;
}

.howitworkstopitem h1 {
  font-size: 12px;
  font-weight: 500;
  padding: 8px 1rem;
}

/* .howbosd {
  border-right: 1px solid #f7f7f5;
} */

.howitworksbottom {
  padding: 4rem 25px 0px 25px;
}

/* .howitworksbottom p {
    font-size: 12px;
    margin-bottom: 1rem;
}

.howitworksbottom h2 {
    font-size: 14px;
    margin-bottom: .5rem;
}

.howitworksbottom h1 {
    font-size: 16px;
} */

.howitworksbottombuy p {
  font-size: 15px;
  font-weight: 500;
}

.hiwbb {
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.hiwbb h2 {
  font-size: 16px;
  margin-bottom: .2rem;
}

.hiwbb p {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.hiwbbtop {
  padding: 0px 15px;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.hiwbbnameprice {
  margin-top: 20px;
}


.hwtpsa {
  font-size: 18px;
  margin-bottom: .2rem;
  text-decoration: underline;

}

.hwtyep {
  margin-bottom: 20px;
}

.hiwbbnameprice {
  margin-bottom: 30px;
  font-weight: 500;
}

.hiwbbnameprice h2, .stepsonsuccess-item h2 {
  font-size: 16px;
  margin-bottom: .2rem;
}

.hiwbbnameprice p, .stepsonsuccess-item p {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.stepsonsuccess {
  margin-top: 10px;
}

.stepsonsuccess h1 {
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.stepsonsuccess-item {
  margin-bottom: 30px;
}

.hiwbtrustproc {
  margin: 10px 0px 20px 0px;
}

.hiwbtrustproc h1 {
  font-size: 18px;
  margin-bottom: .2rem;
  text-decoration: underline;
}
