.buying-info-container {
  padding: 18px 18px 18px 18px;
  margin-top: 3.2rem;
}

.buying-info-container-btn-btn {
  background-color: transparent;
  font-family: inherit;
  padding: 15px 18px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 13px;
  color: #1d1d1f;
  cursor: pointer;
  border: 1px solid #f5f5f7;
}

.buying-info-container-btn-text {
  font-size: 11px;
  color: #999;
  margin-bottom: 8px;
}

.buying-info-container-form {
  /* border: 1px solid #f5f5f7; */
  border-radius: 10px;
  padding-top: 5px;
}

.buying-info-container-formitem {
  /* border-bottom: 1px solid #f5f5f7; */
  padding: 10px 15px;
  cursor: pointer;
}

.bicftitle {
  font-size: 13px;
  /* font-weight: 500; */
  /* border-bottom: 1px solid #f5f5f7; */
  padding-bottom: 10px;
  color: #1d1d1f;
}

.bicfbtn {
  font-size: 12px;
  color: #999;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bicfremove {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.bicfremoveitem {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 8px 0;
  cursor: pointer;
}

.bicfremoveitem p {
  font-size: 13px;
  color: #1d1d1f;
}

.bicfremoveitem svg {
  fill: #1d1d1f;
  width: 18px;
  height: 18px;
}

.omrs-form {
  display: grid;
  gap: 1rem;
}

.omrs-input-underlined:hover {
  background-color: transparent;
}
.omrs-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #1d1d1f;
  height: 3rem;
  font-size: 12px;
  padding-left: 0;
  padding-top: 0.825rem;
  font-family: inherit;
  color: #1d1d1f;
  font-size: 12px;
}

.omrs-form input:focus {
  outline: none;
  border-bottom: 2px solid #1d1d1f;
}

.wegosplit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #1d1d1f;
}

.wegosplit p {
  border: none;

  height: 3rem;
  font-size: 12px;
  width: 100%;
  padding-top: 0.825rem;
  font-family: inherit;
  color: #1d1d1f;
  font-size: 12px;
}

.state-province {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #fff;

  padding-top: 1rem;
  border-top: 1px solid #f5f5f7;
}

.state-province-text {
  font-size: 13px;
  padding: 12px 35px;
  cursor: pointer;
}

.state-prov {
  overflow-y: scroll;
  height: 45vh;
}

.state-province-title {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 35px;
  cursor: pointer;
}

input[name="lestse"] {
  pointer-events: none;
}

.buying-info-payment1 {
  display: grid;
  grid-gap: 1rem;
  margin-top: 0.5rem;
}

.theselecta {
  font-weight: 600;
  font-size: 12px;
}

.thecredeb {
  border: 1px solid #f5f5f7;
  border-radius: 10px;
  padding: 10px 15px;
}

.thecredeb {
  font-size: 12px;
}
