.buying-info-container {
    padding: 18px 18px 18px 18px;
    margin-top: 2.5rem;
}

.buying-info-container-btn-btn {
    background-color: transparent;
    font-family: inherit;
    padding: 15px 18px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 13px;
    color: rgb(58, 55, 55);
    cursor: pointer;
    border: 2px solid #f5f5f7;

}

.buying-info-container-btn-text {
    font-size: 11px;
    color: #999;
    margin-bottom: 8px;
}