.font-test {
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 48px;
  line-height: 52.0075px;
  letter-spacing: -0.144px;
}

.font-e {
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
  Helvetica, Arial, sans-serif;
  color: #6e6e73;
  font-size: 48px;
  line-height: 52.0075px;
  letter-spacing: -0.144px;
  font-weight: 600;
}