@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  background-color: #fff;
  box-sizing: inherit;
  font-synthesis: none;
  font-size: 17px;
  line-height: 1.47059;
  color: #1d1d1f;
  font-style: normal;
  position: relative;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  quotes: "“" "”";
}

code {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: none;
    background: transparent;
  }
}

@media screen and (max-width: 500px) {
  body {
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  ::selection {
    color: none;
    background: none;
  }
  /* For Mozilla Firefox */
  ::-moz-selection {
    color: none;
    background: none;
  }
}

/* gamepad #FEE703 */
/* phone #EDECEC */
/* beauty #DFDEDF */
/* accessories #FEFEFF */
/* collectibles #E6E6E9 */
/* apparel #DED9D4 */
/* sneakers #6C4E36 */
/* bags #B08055 */
