.categoryproducts_header {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0px 22px;
}

.categoryproducts_header-item {
  background-color: #e6e6e9;
  padding: 5.5rem 2rem 4rem 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}

.categoryproducts_header-item-text {
  display: grid;
  gap: 1rem;
}
.categoryproducts_header-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.suggestlink {
  color: #0077ed;
  font-size: 14px;
  letter-spacing: -0.12px;
  line-height: 16.0004px;
}

.categoryproductsnav {
  display: none;
}

.whatyowant {
  max-width: 2560px;
  margin: 3rem auto;
  text-align: center;
}

.whatyowant h1 {
  font-size: 32px;
}

.categoryproductsnav-filteram {
    display: none;
}
@media screen and (max-width: 500px) {
  .categoryproducts_header {
    padding: 0px 0px;
  }

  .categoryidname {
    font-size: 32px;
    text-transform: capitalize;
    color: #1d1d1f;
    font-weight: 500;
  }

  .categorytextcnt {
    display: grid;
    gap: 0.1rem;
  }

  .categpryp {
    color: #1d1d1f;
    font-size: 18px;
    letter-spacing: -0.374px;
    line-height: 21.0011px;
    font-weight: 400;
  }

  .categoryproductsnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1d1d1f;
    /* background-color: rgba(0, 0, 0, .8); */
    color: #fff;
  }

  .categoryproductsnav-icon {
    fill: #fff;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .categoryproductsnav-iconn {
    fill: #1d1d1f;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .navquantityam {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navwhatoview {
    display: flex;
    align-items: center;
  }

  .whatyowant h1 {
    font-size: 24px;
    font-weight: 500;
    color: #1d1d1f;
    letter-spacing: 0.128px;
    line-height: 36px;
    padding: 0px 18px;
  }

  .categoryproductsnav-filteram {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 15px 18px;
    gap: 1.5rem;
    margin-bottom: 5rem;
  }
}
