.categoryproducts_header {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0px 22px;
}

.categoryproducts_header-item {
  background-color: #e6e6e9;
  padding: 5.5rem 2rem 4rem 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}

.categoryproducts_header-item-text {
  display: grid;
  gap: 1rem;
}
.categoryproducts_header-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.suggestlink {
  color: #0077ed;
  font-size: 14px;
  letter-spacing: -0.12px;
  line-height: 16.0004px;
}

.categoryproductsnav {
  display: none;
}

.whatyowant {
  max-width: 2560px;
  margin: 3rem auto;
  text-align: center;
}

.whatyowant h1 {
  font-size: 32px;
}

.categoryproductsnav-filteram {
  display: none;
}

.filternavbar {
  display: none;
}
@media screen and (max-width: 500px) {
  .categoryproducts_header {
    padding: 0px 0px;
  }

  .categoryidname {
    font-size: 32px;
    text-transform: capitalize;
    color: #1d1d1f;
    font-weight: 500;
  }

  .categorytextcnt {
    display: grid;
    gap: 0.1rem;
  }

  .categpryp {
    color: #1d1d1f;
    font-size: 18px;
    letter-spacing: -0.374px;
    line-height: 21.0011px;
    font-weight: 400;
  }

  .categoryproductsnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1d1d1f;
    /* background-color: rgba(0, 0, 0, .8); */
    color: #fff;
  }

  .categoryproductsnav-icon {
    fill: #fff;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .categoryproductsnav-iconn {
    fill: #1d1d1f;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .navquantityam {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navwhatoview {
    display: flex;
    align-items: center;
  }

  .whatyowant h1 {
    font-size: 24px;
    font-weight: 500;
    color: #1d1d1f;
    letter-spacing: 0.128px;
    line-height: 36px;
    padding: 0px 18px;
  }

  .categoryproductsnav-filteram {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .filternavbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  .filternavbar-top {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .filternavbar-top__icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .filternavbar-top h2 {
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1f;
  }

  .filternavbar-body {
    display: grid;
    gap: 0.7rem;
    padding: 12px 15px;
  }

  .bottomsheetsort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .btssort {
    font-size: 13px;
  }

  .category-worda-value {
    font-size: 11px;
    font-weight: 300;
    color: #999;
  }

  .nagender {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    gap: 10px;
  }
  .categoryproducts_products {
    font-size: 11px;
    border: 1px solid #f5f5f7;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
}
