.categoryproducts_header {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0px 22px;
}

.categoryproducts_header-item {
  background-color: #e6e6e9;
  padding: 5.5rem 2rem 4rem 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}

.categoryproducts_header-item-text {
  display: grid;
  gap: 1rem;
}
.categoryproducts_header-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.suggestlink {
  color: #0077ed;
  font-size: 14px;
  letter-spacing: -0.12px;
  line-height: 16.0004px;
}

.categoryproductsnav {
  display: none;
}

.whatyowant {
  max-width: 2560px;
  margin: 3rem auto;
  text-align: center;
}

.whatyowant h1 {
  font-size: 32px;
}

.categoryproductsnav-filteram {
  display: none;
}

.filternavbar {
  display: none;
}

.catproductlist {
  display: none;
}
@media screen and (max-width: 500px) {
  .categoryproducts_header {
    padding: 0px 0px;
  }

  .categoryidname {
    font-size: 32px;
    text-transform: capitalize;
    color: #1d1d1f;
    font-weight: 500;
  }

  .categorytextcnt {
    display: grid;
    gap: 0.1rem;
  }

  .categpryp {
    color: #1d1d1f;
    font-size: 18px;
    letter-spacing: -0.374px;
    line-height: 21.0011px;
    font-weight: 400;
  }

  .categoryproductsnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #1d1d1f; */
    background-color: #fff;
    border-bottom: 2px solid #f5f5f7;

    /* background-color: rgba(0, 0, 0, .8); */
    color: #fff;
  }

  .categoryproductsnav-icon {
    fill: #1d1d1f;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .categoryproductsnav-iconn {
    fill: #1d1d1f;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .navquantityam {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navwhatoview {
    display: flex;
    align-items: center;
  }

  .whatyowant h1 {
    font-size: 24px;
    font-weight: 500;
    color: #1d1d1f;
    letter-spacing: 0.128px;
    line-height: 36px;
    padding: 0px 18px;
  }

  .categoryproductsnav-filteram {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .filternavbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8px;
    right: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 25px;
    border: 2px solid #f5f5f7;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  .filtersway {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid #f5f5f7;
  }

  .filternavbar-top {
    /* padding: 10px 15px; */
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .filternavbar-top__icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .filternavbar-top h2 {
    font-size: 16px;
    font-weight: 400;
    color: #1d1d1f;
  }

  .filternavbar-body {
    display: grid;
    gap: 0.7rem;
    padding: 12px 15px;
  }

  .bottomsheetsort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .btssort {
    font-size: 12px;
  }

  .category-worda-value {
    font-size: 10px;
    color: #999;
  }

  .nagender {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    gap: 10px;
  }
  .categoryproducts_products {
    font-size: 11px;
    border: 1px solid #f5f5f7;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
  }

  .catproductlist {
    display: grid;
    gap: 1rem;
    margin: 0.5rem 0;
    padding: 1.5rem 0;
    background-color: #fff;
  }

  .catproductlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
    margin: 0.5rem 0;
    gap: 8px;
    padding: 1.5rem 8px;
    background-color: #fff;
  }

  .catproductlist .catproductlist-item {
    width: 313px;
    margin: 0 auto;
    height: 500px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.374px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    /* background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
    border-radius: 18px; */
    border: 2px solid #f5f5f7;
    border-radius: 18px;
  }

  .catproductlist-grid .catproductlist-item {
    border: 2px solid #f5f5f7;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.374px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
  }

  .catproductlist .catproductlist-item-name {
    color: #1d1d1f;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    letter-spacing: -0.374px;
    line-height: 25px;
    padding: 20px 0px 0px;
    text-align: left;
  }

  .catproductlist-grid .catproductlist-item-name {
    color: #1d1d1f;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    letter-spacing: -0.374px;
    line-height: 25px;
    padding: 20px 0px 0px;
    text-align: left;
  }

  .catproductlist .catproductlisttag {
    color: #bf4800;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
  }

  .catproductlist-grid .catproductlisttag {
    color: #bf4800;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
  }

  .catproductlist .catproductlistname {
    color: #1d1d1f;
    display: -webkit-box;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.374px;
    line-height: 21.0011px;
    text-align: left;
    margin-top: 0.2rem;
  }

  .catproductlist-grid .catproductlistname {
    color: #1d1d1f;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.0011px;
    text-align: left;
    margin-top: 0.2rem;
    letter-spacing: 0.004rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .catproductlist .catproductlistprice-cnt {
    color: #1d1d1f;
    display: inline;
    font-size: 14px;
    letter-spacing: -0.224px;
    line-height: 18.0008px;
    text-align: left;
    margin-top: 1rem;
  }

  .catproductlist-grid .catproductlistprice-cnt {
    color: #1d1d1f;
    display: inline;
    font-size: 14px;
    letter-spacing: -0.224px;
    line-height: 18.0008px;
    text-align: left;
    margin-top: 1rem;
  }

  .catproductlist .catproductlistlwask {
    font-size: 10px;
    font-weight: 700;
    color: #999;
  }

  .catproductlist-grid .catproductlistlwask {
    font-size: 10px;
    font-weight: 700;
    color: #999;
  }

  .catproductlist .catproductlistimage {
    height: 274px;
    width: 100%;
    object-fit: contain;
    padding: 41px 0px 0px;
    line-height: 25px;
    text-align: left;
  }

  .catproductlist-grid .catproductlistimage {
    width: 100%;
    object-fit: contain;
    padding: 41px 0px 0px;
    line-height: 25px;
    text-align: left;
  }
}
