.accountpage-cnt {
  /* background-color: #fff; */
  margin-bottom: 5rem;
  display: grid;
}

.accountpage-cnt-top {
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 10px 18px 25px 18px;
  border-bottom: 2px solid #f5f5f7;
}

.accountpage-top-info h2 {
  font-size: 14px;
}

.accountpage-top-info p {
  font-size: 11px;
  color: #999;
}

.accountpage-cnt-bottom {
  margin-top: 4.3rem;
}

.accountpage-cnt-bottom-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 18px;
  border-bottom: 1px solid #f5f5f7;
}

.accountpage-cnt-bottom-item:hover {
  background-color: #f5f5f7;
}

.accountpage-cnt-botm-text {
  font-size: 14px;
  font-weight: 450;
}

.accountpage-cnt-typ-p {
    font-size: 11px;
    color: #999;
    max-width: 250px;
}
